body {
  margin: 0px;
}

.overlay {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Courier New', monospace;
  margin: 10px;

  /* Ensure it's above other elements */
}

.overlay-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* Optional: Add a box shadow */
  z-index: 1001;
}

.overlay-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-card h1,
.overlay-card h2,
.overlay-card h3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.overlay-card ul,
.overlay-card ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 20px;
}

.sidebar {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 20%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Courier New', monospace;
  background: white;
  overflow-y: auto; 
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
}

.sidebar > div {
  padding: 10px;
  line-height: 1.6;
  word-wrap: break-word;
}